.experience {
  --image-size: 48px;
  --git-timeline-thickness: 2px;
  --circle-size: 16px;

  position: relative;
  border-inline-start: var(--git-timeline-thickness) solid #69b6d5;
  padding: var(--spacing-xl) var(--spacing-xl);

  .company {
    position: relative;
    margin-bottom: var(--spacing-xl);
  }

  .company::before {
    content: '';
    position: absolute;
    width: var(--spacing-xl);
    height: 100%;
    inset-inline-start: calc((-1 * var(--spacing-xl)) - var(--git-timeline-thickness));
    border: var(--git-timeline-thickness) solid #69b6d5;
  }

  .companyHeader {
    display: flex;
    align-items: center;
  }

  .companyHeader img {
    width: var(--image-size);
    height: var(--image-size);
    padding-inline-start: var(--spacing-xl);
    border-radius: 50%;
  }

  .projects {
    position: relative;
  }

  .project {
    position: relative;
    padding-inline-start: var(--spacing-xl);
    margin-bottom: var(--spacing-xl);
    transition: padding 0.5s ease;
  }

  .project:hover {
    padding-inline-start: calc(var(--spacing-xl) + var(--spacing-s));
  }

  .project::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: var(--circle-size);
    height: var(--circle-size);
    inset-inline-start: calc((-1 * var(--spacing-s)) + calc(var(--git-timeline-thickness) / 2));
    -moz-border-radius: calc(var(--circle-size) / 2);
    -webkit-border-radius: calc(var(--circle-size) / 2);
    border-radius: calc(var(--circle-size) / 2);
    background-color: #69b6d5;
    transition: width 0.5s ease;
  }

  .project:hover::before {
    width: calc(var(--circle-size) + var(--spacing-s));
  }
}
