.experience {
  --image-size: 48px;
  position: relative;

  .company {
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
  }

  .companyHeader {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  .companyHeader img {
    width: var(--image-size);
    height: var(--image-size);
    margin-right: 1rem;
    border-radius: 50%;
  }

  .projects {
    position: relative;
  }

  .projects::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 100%;
    left: -16px;
    border: 2px solid #69b6d5;
  }

  .project {
    margin-bottom: var(--spacing-xl);
  }
  .project::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: #69b6d5;
  }
}

.experience::before {
  content: '';
  position: absolute;
  padding: 2px;
  height: 100%;
  background-color: #69b6d5;
}
