.inputContainer {
  max-width: 120px;
  margin-bottom: var(--spacing-m);
}

.label {
  display: block;
  margin-bottom: var(--spacing-xs);
  font-weight: bold;
}

.input {
  width: 100%;
  padding: var(--spacing-s);
  border: 1px solid #ccc;
  border-radius: var(--spacing-xs);
}
