@mixin border {
  border: 1px solid $light-on-primary;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}

.border {
  padding: 16px;
  width: fit-content;
  @include border();
}

.slide {
  padding: 64px;
  @include border();
  color: $light-on-primary;
  text-align: center;
}

.title {
  @include display-headline-large;
}
