@property --gradient-angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

.slide {
  position: relative;
  height: 100%;
  aspect-ratio: 3 / 2;
  border-radius: 16px;
  background: $portfolio-tokens-ref-primary-primary30;

  &::before,
  ::after {
    content: '';
    z-index: -1;
    position: absolute;
    inset: -4px;
    background: linear-gradient(
      var(--gradient-angle),
      $portfolio-tokens-ref-primary-primary50,
      $portfolio-tokens-ref-primary-primary70,
      $portfolio-tokens-ref-primary-primary90
    );
    border-radius: inherit;
    animation: rotation 5s linear infinite;
  }
  &::after {
    filter: blur(3.5rem);
  }
}
