@use './variables' as *;

html {
  scroll-behavior: initial;
}

html,
body {
  min-height: 100%;
  height: auto;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $dark-background;
  overflow-x: hidden;
  // font-family TODO: Include font family
}

// TODO: Check the user agent styles
div,
p,
h1,
h2,
h3,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

//TODO: is this really needed ?
.lenis {
  height: 100vh;
  overflow-y: auto;
}
